<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.JobPostingDao">

	<resultMap type="JobPosting" id="JobPostingMap">
		<id column="job_posting_no" property="jobPostingNumber" />
		<result column="company_member_no" property="companyMemberNumber" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="work_place_no" property="workPlaceNumber" />
		<result column="minimum_career" property="minimumCareer" />
		<result column="view_count" property="viewCount" />
		<result column="posting_registration" property="postingRegistration" />
		<result column="start_dated" property="startDated" />
		<result column="end_dated" property="endDated" />
		<result column="job" property="job" />
		<result column="thumbnail" property="thumnail" />
		<result column="year_salary" property="yearSalary" />
		<result column="readable" property="readable" />
		<result column="minimum_education_no" property="minimumEducationNumber" />
		<result column="employment_stat_no" property="employmentStatNumber" />
		
		<association property="company" javaType="CompanyMember">
          <id column="company_no" property="number"/>
      <result column="business_registration_no" property="businessRegistrationNumber"/>
      <result column="company_name" property="name"/>
      <result column="company_tel" property="tel"/>
    </association>
    
	</resultMap>

  <select id="findAll" resultMap="JobPostingMap">
   select
     job_posting_no,
     title,
     content,
     minimum_career,
     job,
     year_salary,
     start_dated,
     end_dated,
     view_count
   from
     pf_job_posting
   where 
     end_dated > now()
  order by
  job_posting_no desc
  </select>
     
  <insert id="insert" parameterType="JobPosting">
  insert into pf_job_posting(
  job_posting_no,
  title,
  content,
  minimum_career,
  job,
  year_salary,
  start_dated,
  end_dated)
  values(
  #{jobPostingNumber},
  #{title},
  #{content},
  #{minimumCareer},
  #{job},
  #{yearSalary},
  #{startDated},
  #{endDated})
  </insert>

  <select id="findByNo" resultMap="JobPostingMap" parameterType="int">
  select
     job_posting_no,
     title,
     content,
     minimum_career,
     job,
     year_salary,
     start_dated,
     end_dated,
     view_count
   from
     pf_job_posting
  where
   job_posting_no=#{jobPostingNumber}
  </select>
  
  <update id="update" parameterType="JobPosting">
  update pf_job_posting
  <set>
  <if test="title != null and title != ''">title=#{title},</if>
  <if test="content != null and content != ''">content=#{content},</if>
  <if test="minimumCareer > 0">minimum_career=#{minimumCareer},</if>
  <if test="job != null and job != ''">job=#{job},</if>
  <if test="yearSalary > 0">year_salary=#{yearSalary},</if>
  <if test="startDated != null and startDated != ''">start_dated=#{startDated},</if>
  <if test="endDated != null and endDated != ''">end_dated=#{endDated}</if>
  </set>
   where job_posting_no=#{jobPostingNumber}
  </update>
  
  <delete id="delete" parameterType="int">
   delete from pf_job_posting
   where 
      job_posting_no=#{jobPostingNumber}
  </delete>


</mapper>







