<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="LessonMapper">

  <resultMap type="Lesson" id="LessonMap">
    <id column="lesson_id"   property="no"/>
    <id column="sdt"   property="startDate"/>
    <id column="edt"   property="endDate"/>
    <id column="tot_hr"   property="totalHours"/>
    <id column="day_hr"   property="dayHours"/>
    <id column="titl"   property="title"/>
    <id column="conts"   property="description"/>
  </resultMap>
  
  <select id="selectLesson" resultMap="LessonMap">
    select
     lesson_id,
     sdt,
     edt,
     tot_hr,
     day_hr,
     titl,
     conts
    from
     lms_lesson
      order by 
      lesson_id desc
  </select>
  
  
  <insert id="insertLesson" parameterType="Lesson">
  insert into lms_lesson
  (titl,
  conts,
  sdt,
  edt,
  tot_hr,
  day_hr)
     values(
  #{title},
  #{description},   
  #{startDate},
  #{endDate},
  #{totalHours},
  #{dayHours}
          )
  </insert>
  
  <update id="updateLesson" parameterType="Lesson">
  update lms_lesson set
  titl=#{title},
  conts=#{description},
  sdt=#{startDate},
  edt=#{endDate},
  tot_hr=#{totalHours},
  day_hr=#{dayHours},
  lesson_id=#{no}
  where lesson_id=#{no}
  </update>
  
  <delete id="deleteLesson" parameterType="int">
  delete from lms_lesson
  where lesson_id=#{no}
  </delete>
  
  
  <select id="selectDetail" resultMap="LessonMap" parameterType="int">
   select
    lesson_id,
    titl,
    conts,
    sdt,
    edt,
    tot_hr,
    day_hr
   from lms_lesson
    where lesson_id=#{no}
  </select>
  
  
</mapper>







